.leaderboard-page{
    background: url('../../public//assets//img/main-bg-figma.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    
    color: white;
    table{
        color: white;
    }
}