.navbar {
  background-color: rgba(48, 48, 48, 0.6)!important;
  line-height: 30px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  .navbrand {
    a{
      color: white;
      text-decoration: none;
      font-weight: 700;;
    }
  }
  .collapse-nav{
    justify-content: space-around;
  }

  .active{
    .text-link{
      color: white;
      font-weight: 600;
    }
  }
  .navitem {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: white;
    list-style: none;
    
    &.navitem:hover{
      color: white;
    }
    
  }

  .text-link{
    text-decoration: none;

    color: rgb(189, 189, 189);
    padding: 0 5px;

    &.text-link:hover{
      color: white;
    }
  } 

  .navbarUser{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
}
